@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

:root {
    --title-font-size: 80px;
    --body-font-size: 18px;
    --primary-color: #373648;
    --secondary-color: #E48900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: var(--title-font-size);
}

p,
a,
ul,
label {
    font-size: var(--body-font-size);
    font-family: 'Roboto', sans-serif;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets//background.svg');
    background-size: cover;
}
.home__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}
.home__title,
.home__tagline {
    color: white;
} 

.inverted-btn {
    border-color: white !important;
    color: white !important;
    margin: 1rem 0 !important;
}

